@import '../../../styles/variables.scss';

.wrapper {
  margin: 30px auto;
  max-width: 1100px;
  display: grid;

  @media (min-width: $breakpoint-medium-large) {
    grid-template-columns: 50% 50%;
  }
}

.textBlock {
  border: 7px solid $colour-white-dark;
  background-color: $colour-white;
  border-top-color: transparent;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
  position: relative;
  margin: 6rem 1rem 0;
  z-index: 3;
  order: 1;

  @media (min-width: $breakpoint-small) {
    margin-top: 8rem;
  }
  @media (min-width: $breakpoint-medium) {
    margin-top: 10rem;
  }
  @media (min-width: $breakpoint-medium-large) {
    border-right-color: transparent;
    border-top-color: $colour-white-dark;
    padding: 3rem;
    margin: 0 4rem 0 0;
    order: -1;
  }

  &:after {
    display: block;
    border: 7px solid $colour-white-dark;
    content: "";
    position: absolute;
    transform: skewY(6deg);
    top: -11vw;
    bottom: 0;
    left: -7px;
    height: 100%;
    right: -7px;
    border-bottom-color: transparent;

    @media (min-width: $breakpoint-medium-large) {
      transform: skewX(-6deg);
      top: -7px;
      bottom: -7px;
      left: .9rem;
      right: -3.5rem;
      border-left-color: transparent;
      border-bottom-color: $colour-white-dark;
      border-bottom-color: $colour-white-dark;
      height: auto;
    }
  }
}

.mediaBlock {
  border: 7px solid #f2f2f2;
  background-color: #f2f2f2;

  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2rem;
  position: relative;
  margin: 0 1rem;

  @media (min-width: $breakpoint-medium-large) {
    border-left-color: transparent;
    padding: 3rem;
    margin: 0 0 0 4rem;
  }

  &:after {
    transform: skewY(6deg);
    content: "";
    position: absolute;
    height: 100%;
    z-index: 0;
    left: -7px;
    right: -7px;
    top: 10vw;
    background-color: #f2f2f2;

    @media (min-width: $breakpoint-medium-large) {
      transform: skewX(-6deg);
      border-right-color: transparent;
      top: -7px;
      left: -3.5rem;
      right: 0;
      bottom: -7px;
      width: 100%;
      height: auto;
    }
  }

  .media {
    z-index: 1;
    margin: 0 auto;
    width: 70%;
  }
}

.title {
  font-family: $font-family-phosphate;
  font-weight: $font-weight-bold;
  letter-spacing: 0.01em;
  line-height: 1;
  font-size: 21px;
  margin-bottom: 16px;

  @media (min-width: $breakpoint-small) {
    font-size: 26px;
  }
  @media (min-width: $breakpoint-medium-large) {
    font-size: 30px;
  }
}

.text {
  margin-bottom: 16px;
  font-family: $font-family-gotham;
  font-size: 14px;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-feature-settings: "salt";
  font-weight: $font-weight-normal;
}
