@import '../../../styles/variables.scss';

.intro {
  position: relative;
  background-color: $colour-white-dark;
  min-width: 100%;

}

.mainSection {
  display: grid;
  grid-template-columns: 100%;

  @media (min-width: $breakpoint-large) {
    padding-top: 95px;
    grid-template-columns: 50% 50%;
    padding-bottom: 50px;
  }
}

.description {
  padding: 20px;
  @media (min-width: $breakpoint-large) {
    max-width: 620px;
  }
}

.slickWrapper {
  max-width: 80vw;
  margin: 0 auto;
  @media (min-width: $breakpoint-large) {
    max-width: 440px;
    margin-left: auto;
    margin-right: 60px;
  }
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: "GothamRounded", helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
  @media (min-width: $breakpoint-large) {
    font-size: 30px;
  }
}

.starReview {
  color: #2f84ed;
  display: inline-block;
  transform: translate(5px, -6px);
  font-family: "GothamRounded";
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.price {
  padding: 13px 0;
  font-size: 18px;

  font-family: "GothamRounded", helvetica, arial, sans-serif;
  font-weight: bold;
  @media (min-width: $breakpoint-large) {
    padding: 10px 0;
    font-size: 25px;
  }
}

.textBold {
  font-size: 14px;
  margin: 0;
  width: 100%;
  background: transparent;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-family: "GothamRounded", helvetica, arial, sans-serif;
}

.listHolder {
  padding-left: 15px;
  margin-bottom: 25px;
}

.features {
  font-family: "GothamRounded", helvetica, arial, sans-serif;
  font-feature-settings: "salt";
  font-weight: 300;
  font-size: 11px;
  list-style: disc;
}

.waveBottom {
  display: block;
  bottom: -1px;
  left: -10;
  pointer-events: none;
  position: absolute;
  width: 110%;
  z-index: 1;
}