.intro {
  position: relative;
  background-color: var(--colour-white-dark);
  min-width: 100%;

}

.mainSection {
  display: grid;
  grid-template-columns: 50% 50%;
}

.description {
  max-width: 620px;
}

.slickWrapper {
  max-width: 620px;
  margin-left: auto;
  margin-right: 60px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  font-family: "GothamRounded", helvetica, arial, sans-serif;
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.starReview {
  color: #2f84ed;
  display: inline-block;
  transform: translate(5px, -6px);
  font-family: "GothamRounded";
  text-decoration: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.price {
  font-family: "GothamRounded", helvetica, arial, sans-serif;
  font-weight: bold;
  padding: 10px 0;
  font-size: 25px;
}

.textBold {
  font-size: 14px;
  margin: 0;
  width: 100%;
  background: transparent;
  border-radius: 1rem;
  font-weight: bold;
  padding: 0;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  font-family: "GothamRounded", helvetica, arial, sans-serif;
}

.listHolder {
  list-style: disc outside;
  font-size: 14px;
  margin-bottom: 25px;
}

.features {
  font-family: "GothamRounded", helvetica, arial, sans-serif;
  font-feature-settings: "salt";
  font-weight: 300;
}

.waveBottom {
  display: block;
  bottom: -1px;
  left: -10;
  pointer-events: none;
  position: absolute;
  width: 110%;
  z-index: 1;
}