/* ============================================================================
/* Variables
============================================================================= */

/* brand colours */
$colour-black-absolute: #000;
$colour-black: #1d1d1d;
$colour-white: #fff;
$colour-white-dark: #f2f2f2;
$colour-grey-lightest: #f8f8f8;
$colour-grey-light-less: #e2e1e1;
$colour-grey-light: #e5e5e5;
$colour-grey-medium: #acacac;
$colour-grey-medium-dark: #a0a0a0;
$colour-grey-dark: #5e5e5e;

/* Font sizes */

/* $font-size-very-small: 16px;
$font-size-small: 22px;
$font-size-medium: 28px;
$font-size-large: 45px;
$font-size-very-large: 60px; */

/* Font weights */

$font-weight-normal: 400;
$font-weight-bold: 800;

/* Font families */

$font-family-phosphate: "PhosphateSolid", helvetica, arial, sans-serif;
$font-family-gotham: "GothamRounded", helvetica, arial, sans-serif;
$font-family-bakso: "BaksoSapi", helvetica, arial, sans-serif;

/* Breakpoints */

$breakpoint-small: 480px;
$breakpoint-medium: 640px;
$breakpoint-medium-large: 800px;
$breakpoint-large: 1024px;
$breakpoint-extra-large: 1280px;
$breakpoint-huge: 1400px;
$breakpoint-wide: 1900px;
